@import url("https://fonts.googleapis.com/css?family=Lato");

$tablet_bp: 970px;

* {
  font-family: "Lato", sans-serif;
}

body {
  color: #444;
  padding: 0;
  margin: 0;
  background: linear-gradient(149deg, rgba(0,0,0,1) 0%, rgba(6,56,12,1) 50%, rgba(10,145,13,1) 100%);
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  &:link,
  &:visited {
    color: #0288d1;
    text-decoration: none;
  }
  &:hover {
    border-bottom: 1px dashed #0288d1;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  background: #fff;
  width: 70vw;
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 40px 60px;
  border-radius: 2px;

  @media screen and (max-width: $tablet_bp) {
    width: auto;
    margin: 20px;
    padding: 20px 30px;
  }
}

.top-bio {
  &__wrap {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

    @media screen and (max-width: $tablet_bp) {
      flex-direction: column;
      padding-bottom: 40px;
    }
  }
  &__photo {
    border-radius: 50%;
    height: 250px;
    flex-basis: 250px;

    @media screen and (max-width: $tablet_bp) {
      margin: 30px 0;
    }
  }
  &__rightside {
    margin-left: 150px;
    padding: 20px 0;

    @media screen and (max-width: $tablet_bp) {
      margin-left: 0;
    }
  }
  &__fullname {
    text-transform: uppercase;
    font-size: 33px;
  }
  &__title {
    margin-top: 5px;
    font-size: 20px;
    color: #666;
  }
  &__links {
    margin-top: 40px;

    & li {
      font-size: 15px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      & a {
        margin-left: 5px;
      }
    }
  }
}

// ----------------------

.article-block {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media screen and (max-width: $tablet_bp) {
      margin-bottom: 70px;
    }
  }
}

.article-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: $tablet_bp) {
    font-size: 19px;
  }
}

.article-descr {
  margin-left: 40px;
  font-size: 20px;

  @media screen and (max-width: $tablet_bp) {
    font-size: 17px;
  }

  &:not(:first-child) {
    margin-top: 5px;
  }

  & span {
    border-bottom: 1px dashed #555;
    margin-right: 5px;
  }
}

.article-list {
  & li {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;

    @media screen and (max-width: $tablet_bp) {
      font-size: 16px;
    }

    &::before {
      content: "— ";
    }

    &.-detailed {
      margin-top: 30px;
      margin-bottom: 30px;

      & p {
        margin-top: 20px;
        margin-left: 80px;
        font-size: 15px;
        line-height: 20px;
      }
    }

    & .-now {
      border-bottom: 1px dashed #666;
      cursor: help;
    }
  }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
